@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../fonts/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/gilroy-medium.ttf);
}
/*-------------------------------------adaptive-------------------------------------*/
@media screen and (max-width: 1640px){
    .header{
        width: 95% !important;
    }
    .content-info {
        width: 50% !important;
    }
}
@media screen and (max-width: 1200px){
    .header{
        width: 95% !important;
    }
    .content-info {
        width: 80% !important;
    }
    .sell-content{
        height: 950px;
    }
}
@media screen and (max-width: 1100px){
    .menu{
        display: none !important;
    }
    .left-menu{
        width: 40% !important;
    }
    .about-info{
        width: 100% !important;
    }

}
@media screen and (max-width: 830px){
    .menu{
        display: none !important;
    }
    .left-menu{
        width: 60% !important;
    }
    .about-info{
        width: 100% !important;
    }
    .primer{
        width: 93% !important;
    }
    .content-info {
        width: 95% !important;
    }
    .sell-two{
        display: none !important;  
    }
    .sell{
        background-image: url(../img/quiz-mobile.png);
    }
    .sell-content{
        width: 100% !important;
    }
    .logo{
        width: 15% !important;
    }
}
@media screen and (max-width: 600px){
    .left-menu{
        width: 70% !important;
    }
    .two{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    .content-info{
        align-items: center !important;
    }
    .two-content{
        width: 65% !important;
        margin-bottom: 20px;
    }
    .warning{
        width: 80% !important;
    }
    .about-info{
        display: flex;
        flex-direction: column;
    }
    .about-block{
        width: 60% !important;
    }
    .footer-content{
        width: 95% !important;
    }
    .sell-form{
        width: 80% !important;
    }
    .logo{
        width: 20% !important;
    }
    .hid{
        display: none !important;
    }
    .pop-form{
        flex-direction: column !important;
        height: 300px !important;
        justify-content: start !important;
    }
    .p-1{
        width: 100% !important;
    }
    .popup-content{
        max-height: 600px !important;
    }
    .m {
        margin-bottom: 22px !important;
    }
    .primer-h1{
        font-size: 20px !important;
    }
    .yes{
        display: flex !important;
        width: 100% !important;
        color: white !important; 
        justify-content: center !important;
        font-size: 18px !important;
        text-align: center !important;
    }
    .primer-content-h1{
        font-size: 20px !important;
        padding: 20px 2px !important;
    }
    .primer-content{
        width: 98% !important;
    }
    .primer-content-text{
        font-size: 16px !important;
    }
    .primer-content-price{
        font-size: 18px !important;
        padding: 15px 0px !important;
    }
    .table-h1-1{
        font-size: 18px !important;
        background-color: #F4A392 !important;
        padding: 6px 16px !important;
        width: 40% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 10px !important;
    }
    .table-content{
        padding: 10px 0px !important;
        background-color:#1B7DC2 !important;
        box-shadow: none !important;
        margin: 0 !important;
    }
    .table-out{
        justify-content: space-between !important;
        background-color:#1B7DC2 !important;
    }
    .table-h1{
        width: 100% !important;
    }
    .none{
        display: none !important;
    }
    .table-text{
        font-size: 16px !important;
    }
    .ww{
        background-color: white;
        width: 40% !important;
        padding: 6px 16px !important;
        border-radius: 10px !important;
    }
    .www{
        background-color: #F4A392 !important;
        width: 40% !important;
        padding: 6px 16px !important;
        border-radius: 10px !important;
    }
    .table-text-w{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 480px){
    .sell {
        width: 100% !important;
        justify-content: start !important;
        height: 850px !important;
        margin-top: 30px !important;
    }
    .sell-one {
       margin: 10px 20px!important;
       height: 750px !important;
    }
    .sell-content{
        height: 700px !important;
    }
    .sell-form{
        width: 100% !important;
        height: 500px !important;
    }
    .info-list-h1{
        font-size: 29px !important;
    }
    .info-list{
        background-image: none !important;
    }
    .two-content{
        width: 85% !important;
        font-size: 1.3rem !important;
    }
    .graf{
        display: none !important;
    }
    .number{
        font-size: 20px !important;
    }
    .left-menu{
        width: 85% !important;
    }
    .menu-button{
        text-align: center;
    }
    .content-info{
        justify-content: start !important;
    }
    .logo{
        width: 35% !important;
    }
    .about-h1{
        font-size: 20px !important;
        padding: 30px 0px 0px 0px !important;
    }
    .about-block{
        width: 80% !important;
    }
    .about-block-text{
        padding: 10px 0px !important;
        font-size: 16px !important;
    }
    .footer-one{
        flex-direction: column !important;
        justify-content: space-between !important;
        height: 350px !important;
        align-items: center !important;
    }
    .footer-one{
        align-items: center !important;
        width: 100% !important;
    }
    .primer-h1{
        font-size: 20px !important;
        padding: 30px 0px 0px 0px !important;
    }
    .yes{
        display: flex !important;
        width: 100% !important;
        color: white !important; 
        justify-content: center !important;
        font-size: 18px !important;
        text-align: center !important;
    }
    .primer-content-h1{
        font-size: 20px !important;
        padding: 20px 2px !important;
    }
    .primer-content{
        width: 98% !important;
    }
    .primer-content-text{
        font-size: 16px !important;
    }
    .primer-content-price{
        font-size: 18px !important;
        padding: 15px 0px !important;
    }
    .table-h1-1{
        font-size: 18px !important;
        background-color: #F4A392 !important;
        padding: 6px 16px !important;
        width: 38% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 10px !important;
    }
    .table-content{
        padding: 10px 0px !important;
        background-color:#1B7DC2 !important;
        box-shadow: none !important;
        margin: 0 !important;
    }
    .table-out{
        justify-content: space-between !important;
        background-color:#1B7DC2 !important;
    }
    .table-h1{
        width: 100% !important;
    }
    .none{
        display: none !important;
    }
    .table-text{
        font-size: 16px !important;
    }
    .ww{
        background-color: white;
        width: 38% !important;
        padding: 6px 16px !important;
        border-radius: 10px !important;
    }
    .www{
        background-color: #F4A392 !important;
        width: 38% !important;
        padding: 6px 16px !important;
        border-radius: 10px !important;
    }
    .table-text-w{
        font-size: 16px !important;
    }
    .left-menu-info{
        font-size: 13px !important;
        width: 90% !important;
    }
    .menu-button{
        width: 60% !important;
        font-size: 13px !important;
        padding: 5px 20px !important;
    }
        .sell-content{
        height: 1200px;
    }
    .footer{
        margin: 0px !important;
    }
    .pop-form{
        justify-content: space-around !important;
    }
    .m {
        margin-bottom: 22px !important;
    }
    .swiper-slide {
        justify-content: center !important;
    }
}
/*-------------------------------------Обнуление стилей-------------------------------------*/
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Gilroy-Medium;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.yes{
    display: none;
}
.none1 {
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
select{
    outline: none;
    border: none;   
}
input{
    outline: none;
    border: none;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*-------------------------------------menu-------------------------------------*/
.container-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.header{
    width: 75%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.meni-item{
    font-size: 1.1rem;
    transition: 0.2s;  
}
.meni-item:hover{
    color: #3495fd;
}
.logo{
    width: 12%;
}
.logo img{
    width: 100%;
}
.left-menu{
    display: flex;
    width: 26%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.left-menu-info{
    text-align: center;
}
.menu-button{
    background-color: #1B7DC2;
    border-radius: 25px;
    color: white;
    padding: 0.825rem 1.25rem;
    font-size: 1.125rem;
    transition: 0.2s;
}
.menu-button:hover{
    background-color: #3495fd;
}
.graf {
    color: rgb(16, 151, 16);
    transition: 0.2s;
}
.graf:hover{
    color: rgb(21, 179, 21);
}
/*-------------------------------------info-list-------------------------------------*/
.info-list{
    width: 100%;
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    align-items: start;
    background-image: url(../img/bg-urgentbuy.png);
    background-size: 100% 100%;
    background-color: rgb(248, 248, 248);
    margin-top: 100px;
}
.content-info{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.two{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.two-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    color: #1B7DC2;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 25px;
    justify-content: space-between;
}
.two-img img{
    width: 100%;
}
.two-text{
    padding: 20px 0px;
}
.info-list-h1{
    color: #1B7DC2;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
}
.warning{
    width: 90%;
    height: 17%;
    background-color: white;
    border: 2px solid red;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 35px;
    font-size: 1.3rem;
    color: red;
}
/*-------------------------------------about-info-------------------------------------*/
.about-info{
    width: 65%; 
}
.about-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}
.about-h1{
    color: #1B7DC2;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    padding: 30px 0px;
}
.about-block{
    width: 25%;
    background-color: #1B7DC2;
    padding: 30px 25px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1.1rem;
}
.about-block-img img{
    width: 90%;
}
.about-block-text{
    padding: 30px 0px;
}
/*-------------------------------------Table-------------------------------------*/
.primer{
      width: 65%; 
      margin-bottom: 100px;  
}
.primer-h1{
    color: #1B7DC2;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    padding: 30px 0px;
}
.primer-content{
    width: 100%;
    background-color: #1B7DC2;
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    color: white;
    font-family: Gilroy-Light;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.primer-content-h1{
    text-align: center;
    font-size: 2.0rem;
    font-family: Gilroy-Medium;
    padding: 30px;
}
.primer-content-price{
    padding: 30px 0px;
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
}
.primer-content-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table-h1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0px;
    font-size: 1.5rem;
    font-family: Gilroy-Medium;
}
.table-content{
    display: flex;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px;
    align-items: center;
    margin-bottom: 20px;
}
.table-out{
    background-color: rgb(213, 141, 6);
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px;
    align-items: center;
}
.w{
    color: white;
}
.table-text{
    color: #045a97;
    width: 35%;
}
.table-text-w{
    color: white;
    width: 35%;
}
.table-h1-1{
    width: 35%;   
}
.b{
    font-family: Gilroy-Medium;
    font-size: 1.5rem;  
}
.block{
    visibility: hidden;
}
/*-------------------------------------sell-------------------------------------*/
.sell{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1B7DC2;
    color: white;
    min-height: 650px;
}
.sell-content{
    width: 55%;
    display: flex;
}
.sell-one{
    width: 100%;
    padding: 50px 0px;
    margin-left: 25%;
}
.sell-two{
    width: 35%;
    min-height: 650px;
    display: flex;
    align-items: end;
}
.sell-zero{
    width: 100%;
    background-image: url(../img/quiz.png);
    height: 600px;
    background-size: auto 600px;
}
.sell-h1{
    font-size: 2.3rem;
    font-family: Gilroy-Medium;
    color: white;
}
.sell-text{
    padding: 20px 0px;
    font-size: 1.2rem;
    font-family: Gilroy-Light;   
}
.sell-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 75%;
    justify-content: space-between;
}
.text-area-sell{
    resize: none;
}
.input-sell{
    height: 50px;
    border-radius: 25px;
    padding: 0px 20px; 
    background-color:#1B7DC2;
    border: 1px solid #ffffff;
    font-family: Gilroy-Light;   
    font-size: 1.1rem;
    color: white;
}
.select-sell{
    height: 50px;
    border-radius: 25px;
    padding: 0px 20px; 
    border: 1px solid #ffffff;
    background-color:#1B7DC2;
    color: white;
    font-size: 1.1rem;
}
.sell-button{
    height: 50px;
    border-radius: 25px;   
    color: white;
    background-color: rgb(213, 141, 6);
    font-size: 1.1rem;
    font-family: Gilroy-Light;
    transition: 0.2s;
    cursor: pointer;
}
.sell-button:hover{
    background-color: rgb(234, 156, 11);    
}
.sell-label{
    font-size: 1.1rem;
}
input::placeholder{
    font-family: Gilroy-Light;   
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
}
.sell-btn a{
    color: white;
    transition: 0.3s;
}
.sell-btn{
    font-family: Gilroy-Light;
    color: white;
}   
.sell-btn a:hover{
    color: rgb(213, 141, 6);
}
/*-------------------------------------footer-------------------------------------*/
.footer{
    width: 100%;
    background-color: #1B7DC2;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Gilroy-Light;
    padding: 50px 0px 50px 0px;
}
.footer a{
    color: white;
    transition: 0.2s;
}
.footer a:hover{
    color: rgb(213, 141, 6);
}
.footer u{
    transition: 0.2s;
}
.footer u:hover{
    color: rgb(213, 141, 6);
}
.footer-content{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.footer-one{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-two{
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: space-between;
    font-size: 1.1rem;
    width: 100%;
}
.footer-two img {
    width: 200px;
}
.send-me{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: 0.2s;
}
.send-me img {
    width: 50px;
}
.send-me:hover{
    color: rgb(213, 141, 6);
}
.ftg img {
    width: 40px;
}
.f-3{
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
/*-------------------------------------send-------------------------------------*/
.send {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #1B7DC2;
    transition: 0.2s;
    z-index: 2;
    
}
.send::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    box-shadow: inset 0 0 0 1px #1B7DC2;
    border-radius: 50%;
    transition: all 0.9s;
    animation: inset 0.8s infinite linear;
}
@keyframes inset {
    from {
      animation-timing-function: ease-out;
      box-shadow: inset 0 0 0 2px #1B7DC2;
    }
    25% {
      animation-timing-function: ease-out;
      box-shadow: inset 0 0 0 1.5px #1B7DC2;
    }
    50% {
      animation-timing-function: ease-out;
      box-shadow: inset 0 0 0 1px #1B7DC2;
    }
    25% {
        animation-timing-function: ease-out;
        box-shadow: inset 0 0 0 0.5px #adc7da;
      }
    75% {
      animation-timing-function: ease-out;
      box-shadow: inset 0 0 0 0.5px #adc7da;
    }
    to { margin: -24%;
        box-shadow: inset 0 0 0 0.5px #d9e9f5;
    }
  }
.send img {
    width: 70px;
}
.send:hover{
    background-color: #3495fd; 
}
/*-------------------------------------popup-------------------------------------*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
}
.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup-area {
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
}
.popup-content {
    background-image: url(../img/quiz-mobile.png);
    background-size: 100% 100%;
    background-color: #1B7DC2;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 50px 0px;
}
.popup-close {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 20px;
    text-decoration: none;
}
.pop-form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
}
.p-1{
   width: 50%; 
   display: flex;
   flex-direction: column;
   margin-right: 10px;
   justify-content: space-around;

}
.popup-form{
    padding: 0px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pop-1{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.pop-h1{
    font-size: 2.3rem;
    font-family: Gilroy-Medium;
    color: white;
    padding: 0px 0px 20px 0px;
}
.pop-text{
    color: white;
    font-family: Gilroy-Light;
}
